/* Parallax efekti için height 100% verilir. */
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background--image1 {
    background-image: url(./img/bg1.jpg);
    height:100%;
}
.background--image2 {
    background-image: url(./img/bg2.jpg);
    height: 80%;
}
.background--image3 {
    background-image: url(./img/bg3.jpg);
    height: 80%;
}
.background--image4 {
    background-image: url(./img/bg4.jpg);
    height: 80%;
}

.background--image1,
.background--image2,
.background--image3,
.background--image4 {
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    /* paralax */

    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.heading-container {
    font-size: 3rem;
    text-transform: uppercase;
    letter: 0.5rem;
    text-align: center;
}

.heading-container__heading {
    background-color: black;
    color: white;
    padding: 2rem;
   border-top-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   outline: 0.5rem inset purple;
   outline-offset: 1rem;
}

.section{
   text-align: center;
   padding: 3rem 5rem;
   line-height: 1.8rem;
}

.section-light {
    background-color: #f1f1f1;
}
.section-dark {
    background-color:#ddd;
}

.heading-container__logo {
    width: 30%;
}

.heading-container__text {
    background-color: black;
    color: white;
    padding: 0.7rem;
    border-radius: 0.7rem 0 0.7rem 0;
    outline-offset: 0.2rem;
    text-transform: capitalize;
}
